


<div class="daboard-main d-flex">
  <aside class="left-sidebar">
    <div class="logo text-uppercase">
      <a href="#">gallardsteel</a>
    </div>
    <div class="navigation">
      <ul>
        <li><a href="#"><i class="icon-calendar"></i> Dashboard <i class="icon-angle-right"></i></a></li>
        <li><a href="#"><i class="icon-foursquare"></i> Work Order <i class="icon-angle-right"></i></a></li>
        <li class="active"><a href="#"><i class="icon-trello"></i> Orders Status <i class="icon-angle-right"></i></a></li>
        
        <li><a href="#"><i class="icon-dribbble"></i> Planning <i class="icon-angle-right"></i></a></li>
        <li><a href="#"><i class="icon-dashboard"></i> Moulding <i class="icon-angle-right"></i></a></li>
        <li><a href="#"><i class="icon-folder-open-alt"></i> Production <i class="icon-angle-right"></i></a></li>
        <li><a href="#"><i class="icon-cog"></i> Dispatch <i class="icon-angle-right"></i></a></li>
        <li><a href="#"><i class="icon-headphones"></i> Test Certificate <i class="icon-angle-right"></i></a></li>
        <li><a href="#"><i class="icon-laptop"></i> Report <i class="icon-angle-right"></i></a></li>
        <li><a href="#"><i class="icon-remove-sign"></i> Indent & Purchase <i class="icon-angle-right"></i></a></li>
        <li><a href="#"><i class="icon-question-sign"></i> Casting & Product <i class="icon-angle-right"></i></a></li>
        <li><a href="#"><i class="icon-magic"></i> Admin <i class="icon-angle-right"></i></a></li>
      </ul>
    </div>
  </aside>

  <section class="main-right-sidebar">

    <div class="header-top">
      <div class="row">
        <div class="col-sm-4">
            <a href="#" class="toggle">
              <i class="line-toggle"></i>
              <i class="line-toggle"></i>
              <i class="line-toggle"></i>
            </a>
        </div>
        <div class="col-sm-8">
           

            <ul class="nav navbar-top-links navbar-right pull-right active">
                <li class="mr-4">
                  <form role="search">
                      <div class="input-group search-box">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2"><i class="icon-search"></i></span>
                        </div>
                      </div>      
                  </form>
                </li>
                <li class="dropdown user-dropdown">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="assets/images/user.jpeg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Steave</b><span class="caret"></span> </a>
                    
                </li>
            </ul>

        </div>
      </div>
    </div>

    <!-- <div class="header-bottom">
      <ul class="m-0">
        <li><a href="#">DASHBOARD 1</a></li>
      </ul>
    </div> -->

    <div class="header-bottom">
      <ul class="m-0">
        <li><a href="#">Indent Add</a></li>
      </ul>
    </div>

    <div class="content-wrapper content-wrapper--with-bg">
      <div class="page-content">
        <form>
        <div class="row">
          <div class="col-md-11 row">

          <div class="col-md-6">
              <div class="white-box">
                  <div class="form-group">
                      <label>Date of Requirement</label>
                      <input type="date" class="form-control" placeholder="03/12/2018">
                  </div>

                  <div class="form-group">
                      <label>Material Name</label>
                      <input type="text" class="form-control" placeholder="Material Name">
                  </div>

                  <div class="form-group">
                    <label for="">Category</label>
                  <div class="select-style">
                      <select>
                          <option value="0">Select</option>
                          <option selected="selected" value="1">Production</option>
                          <option value="2">Consumption</option>
                          <option value="3">Maintenance</option>
                          <option value="4">Electrical Maintainace</option>
                          <option value="5">Ferro Alloys</option>
                          <option value="6">Mould Coats</option>
                          <option value="12">Capital Expenditure</option>
                          <option value="13">Exothermic Sleeves</option>
                          <option value="14">Misc</option>
                          <option value="15">Fettling consumable</option>
                          <option value="16">Office equipment</option>
                        </select>
                    </div>
                  </div>

                  <div class="form-group">
                      <label>HSN Code</label>
                      <input type="text" class="form-control" placeholder="HSN Code">
                  </div>

                  <div class="form-group">
                      <label>Quantity</label>
                      <input type="text" class="form-control" placeholder="Quantity">
                  </div>
                          
              </div>
          </div> 
          <!-- white box end -->


          <div class="col-md-6">
              <div class="white-box">
                  <div class="form-group">
                      <label>STKUID</label>
                      <input type="date" class="form-control" disabled placeholder="STKUID">
                  </div>

                  <div class="form-group">
                    <label for="">Unit of Measurement</label>
                  <div class="select-style">
                      <select>
                        <option value="PIECE">PIECE</option>
                        <option selected="selected" value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="PIECE">PIECE</option>
                        <option value="LITRE">LITRE</option>
                        <option value="PIECE">PIECE</option>
                        <option value="PIECE">PIECE</option>
                        <option value="PIECE">PIECE</option>
                        <option value="PIECE">PIECE</option>
                        <option value="PIECE">PIECE</option>
                        <option value="PIECE">PIECE</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="PIECE">PIECE</option>
                        <option value="LITRE">LITRE</option>
                        <option value="KGS">KGS</option>
                        <option value="LITRE">LITRE</option>
                        <option value="LITRE">LITRE</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="PIECE">PIECE</option>
                        <option value="LITRE">LITRE</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="PIECE">PIECE</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="PIECE">PIECE</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="PIECE">PIECE</option>
                        <option value="PIECE">PIECE</option>
                        <option value="PIECE">PIECE</option>
                        <option value="PIECE">PIECE</option>
                        <option value="PIECE">PIECE</option>
                        <option value="LITRE">LITRE</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="PIECE">PIECE</option>
                        <option value="LITRE">LITRE</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="PIECE">PIECE</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="KGS">KGS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="KGS">KGS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="PIECE">PIECE</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="LITRE">LITRE</option>
                        <option value="KGS">KGS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="BUNDLE">BUNDLE</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="PIECE">PIECE</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="PIECE">PIECE</option>
                        <option value="PIECE">PIECE</option>
                        <option value="KGS">KGS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="PIECE">PIECE</option>
                        <option value="PIECE">PIECE</option>
                        <option value="BUNDLE">BUNDLE</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="PIECE">PIECE</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="KGS">KGS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="KGS">KGS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="KGS">KGS</option>
                        <option value="KGS">KGS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="KGS">KGS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="PIECE">PIECE</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="PIECE">PIECE</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="KGS">KGS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="LITRE">LITRE</option>
                        <option value="KGS">KGS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="SQ METRE">SQ METRE</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="NUMBERS">NUMBERS</option>
                        <option value="BOXES">BOXES</option>
                        
                        </select>
                    </div>
                  </div>

                  
                  <div class="form-group">
                      <label for="">GST %</label>
                    <div class="select-style">
                    <select>
                      <option value="-1">Select</option>
                      <option value="0.00">0</option>
                      <option value="5.00">5</option>
                      <option selected="selected" value="12.00">12</option>
                      <option value="18.00">18</option>
                      <option value="28.00">28</option>
                    </select>
                    </div>
                  </div>

                  <div class="form-group">
                      <label for="">Priority</label>
                    <div class="select-style">
                        <select>
                          <option value="-1">Select</option>
                          <option selected="selected" value="0">Urgent</option>
                          <option value="1">Normal</option>
                        
                        </select>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-blue mt-4">Submit</button>
                          
              </div>
          </div> 
          <!-- white box end -->
        </div>

        </div>
      </form>



      <div class="white-box mt-5">
        <div class="table-responsive">
          
            <table class="table table-bordered">
                <tbody><tr>
                  <th class="myhead" scope="col">S.No.</th><th class="myhead" scope="col">Date
                    
                  </th><th class="myhead" scope="col">Priority
                    
                  </th><th class="myhead" scope="col">
                    Category
                  </th><th class="myhead" scope="col">Material Name
                    
                  </th><th class="myhead" scope="col">
                    Quantity
                  </th><th class="myhead" scope="col">
                    UOM</th><th class="myhead" scope="col">Edit</th><th class="myhead" scope="col">Remove</th>
                </tr><tr>
                  <td style="width:50px;">
                                                                1
                  </td><td style="width:100px;">01/08/2018</td><td >Urgent</td><td >Production</td><td >Fe Mg</td><td >100.00</td><td  style="width:60px;">KGS</td><td style="width:65px;"><a href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList','Edit$0')" data-original-title="" title=""><i class="fa fa-fw fa-pencil" title="Edit" tabindex="6"></i></a></td><td style="width:65px;">
                      <a onclick="return" href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList$ctl02$DeleteLink','')" data-original-title="" title=""><i class="fa fa-times" tabindex="3"></i></a>
                  </td>
                  </tr><tr>
                  <td style="width:50px;">
                  2
                  </td><td style="width:100px;">01/08/2018</td><td >Urgent</td><td >Production</td><td >Fe Mg</td><td >50.00</td><td  style="width:60px;">KGS</td><td style="width:65px;"><a href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList','Edit$1')" data-original-title="" title=""><i class="fa fa-fw fa-pencil" title="Edit" tabindex="6"></i></a></td><td style="width:65px;">
                      <a onclick="return" href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList$ctl03$DeleteLink','')" data-original-title="" title=""><i class="fa fa-times" tabindex="3"></i></a>
                  </td>
                  </tr><tr>
                  <td style="width:50px;">
                  3
                  </td><td style="width:100px;">15/03/2018</td><td >Normal</td><td >Maintenance</td><td >oil Seprater</td><td >1.00</td><td  style="width:60px;">PIECE</td><td style="width:65px;"><a href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList','Edit$2')" data-original-title="" title=""><i class="fa fa-fw fa-pencil" title="Edit" tabindex="6"></i></a></td><td style="width:65px;">
                      <a onclick="return" href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList$ctl04$DeleteLink','')" data-original-title="" title=""><i class="fa fa-times" tabindex="3"></i></a>
                  </td>
                  </tr><tr>
                  <td style="width:50px;">
                  4
                  </td><td style="width:100px;">15/03/2018</td><td >Normal</td><td >Select</td><td >Air Filter</td><td >1.00</td><td  style="width:60px;">PIECE</td><td style="width:65px;"><a href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList','Edit$3')" data-original-title="" title=""><i class="fa fa-fw fa-pencil" title="Edit" tabindex="6"></i></a></td><td style="width:65px;">
                      <a onclick="return" href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList$ctl05$DeleteLink','')" data-original-title="" title=""><i class="fa fa-times" tabindex="3"></i></a>
                  </td>
                  </tr><tr>
                  <td style="width:50px;">
                  5
                  </td><td style="width:100px;">26/06/2018</td><td >Normal</td><td >Misc</td><td >juti</td><td >18.00</td><td  style="width:60px;">PIECE</td><td style="width:65px;"><a href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList','Edit$4')" data-original-title="" title=""><i class="fa fa-fw fa-pencil" title="Edit" tabindex="6"></i></a></td><td style="width:65px;">
                      <a onclick="return" href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList$ctl06$DeleteLink','')" data-original-title="" title=""><i class="fa fa-times" tabindex="3"></i></a>
                  </td>
                  </tr><tr>
                  <td style="width:50px;">
                  6
                  </td><td style="width:100px;">23/07/2018</td><td >Normal</td><td >Misc</td><td >Thread Lock Tite ( Small Packets )</td><td >1.00</td><td  style="width:60px;">PIECE</td><td style="width:65px;"><a href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList','Edit$5')" data-original-title="" title=""><i class="fa fa-fw fa-pencil" title="Edit" tabindex="6"></i></a></td><td style="width:65px;">
                      <a onclick="return" href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList$ctl07$DeleteLink','')" data-original-title="" title=""><i class="fa fa-times" tabindex="3"></i></a>
                  </td>
                  </tr><tr>
                  <td style="width:50px;">
                  7
                  </td><td style="width:100px;">23/07/2018</td><td >Normal</td><td >Electrical Maintainace</td><td >Capacitor Round Shape 2KVAR</td><td >1.00</td><td  style="width:60px;">PIECE</td><td style="width:65px;"><a href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList','Edit$6')" data-original-title="" title=""><i class="fa fa-fw fa-pencil" title="Edit" tabindex="6"></i></a></td><td style="width:65px;">
                      <a onclick="return" href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList$ctl08$DeleteLink','')" data-original-title="" title=""><i class="fa fa-times" tabindex="3"></i></a>
                  </td>
                  </tr><tr>
                  <td style="width:50px;">
                  8
                  </td><td style="width:100px;">25/07/2018</td><td >Normal</td><td >Mould Coats</td><td >Garfeed8</td><td >500.00</td><td  style="width:60px;">LITRE</td><td style="width:65px;"><a href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList','Edit$7')" data-original-title="" title=""><i class="fa fa-fw fa-pencil" title="Edit" tabindex="6"></i></a></td><td style="width:65px;">
                      <a onclick="return" href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList$ctl09$DeleteLink','')" data-original-title="" title=""><i class="fa fa-times" tabindex="3"></i></a>
                  </td>
                  </tr><tr>
                  <td style="width:50px;">
                  9
                  </td><td style="width:100px;">25/07/2018</td><td >Normal</td><td >Production</td><td >Carslag Ore</td><td >500.00</td><td  style="width:60px;">KGS</td><td style="width:65px;"><a href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList','Edit$8')" data-original-title="" title=""><i class="fa fa-fw fa-pencil" title="Edit" tabindex="6"></i></a></td><td style="width:65px;">
                      <a onclick="return" href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList$ctl10$DeleteLink','')" data-original-title="" title=""><i class="fa fa-times" tabindex="3"></i></a>
                  </td>
                  </tr><tr>
                  <td style="width:50px;">
                  10
                  </td><td style="width:100px;">25/07/2018</td><td >Normal</td><td >Mould Coats</td><td >zIRKOFLUID</td><td >500.00</td><td  style="width:60px;">LITRE</td><td style="width:65px;"><a href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList','Edit$9')" data-original-title="" title=""><i class="fa fa-fw fa-pencil" title="Edit" tabindex="6"></i></a></td><td style="width:65px;">
                      <a onclick="return" href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList$ctl11$DeleteLink','')" data-original-title="" title=""><i class="fa fa-times" tabindex="3"></i></a>
                  </td>
                  </tr><tr>
                  <td style="width:50px;">
                  11
                  </td><td style="width:100px;">25/07/2018</td><td >Normal</td><td >Mould Coats</td><td >Arkofluid</td><td >300.00</td><td  style="width:60px;">LITRE</td><td style="width:65px;"><a href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList','Edit$10')" data-original-title="" title=""><i class="fa fa-fw fa-pencil" title="Edit" tabindex="6"></i></a></td><td style="width:65px;">
                      <a onclick="return0" href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList$ctl12$DeleteLink','')" data-original-title="" title=""><i class="fa fa-times" tabindex="3"></i></a>
                  </td>
                  </tr><tr>
                  <td style="width:50px;">
                  12
                  </td><td style="width:100px;">25/07/2018</td><td >Normal</td><td >Ferro Alloys</td><td >Manganese Metal </td><td >500.00</td><td  style="width:60px;">KGS</td><td style="width:65px;"><a href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList','Edit$11')" data-original-title="" title=""><i class="fa fa-fw fa-pencil" title="Edit" tabindex="6"></i></a></td><td style="width:65px;">
                      <a onclick="return1" href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList$ctl13$DeleteLink','')" data-original-title="" title=""><i class="fa fa-times" tabindex="3"></i></a>
                  </td>
                  </tr><tr>
                  <td style="width:50px;">
                  13
                  </td><td style="width:100px;">25/07/2018</td><td >Normal</td><td >Ferro Alloys</td><td >Ferro Manganese HC</td><td >2000.00</td><td  style="width:60px;">KGS</td><td style="width:65px;"><a href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList','Edit$12')" data-original-title="" title=""><i class="fa fa-fw fa-pencil" title="Edit" tabindex="6"></i></a></td><td style="width:65px;">
                      <a onclick="return2" href="javascript:__doPostBack('ctl00$MainContent$gv_MaterialList$ctl14$DeleteLink','')" data-original-title="" title=""><i class="fa fa-times" tabindex="3"></i></a>
                  </td>
                </tr>
              </tbody></table>

        </div>
      </div>

      </div>
    </div>

    <!-- 

      <div class="content-wrapper content-wrapper--with-bg">
        <div class="page-content">
          <div class="row">
            <div class="col-md-8">
              
            <h1 class="page-title">Requirements
              </h1>
          <div class="row mb-3">
          <div class="col-lg-3 col-sm-6">
            <div class="card">
            <div class="card-content">
            <div class="row">
              <div class="col-4">
                <div class="icon-big text-center icon-warning">
                  <i class="icon-plus-sign-alt"></i>
                </div>
              </div>
                <div class="numbers col-8">
                  <p>Add</p>
              </div>
            </div>
            </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card">
            <div class="card-content">
            <div class="row">
              <div class="col-4">
                <div class="icon-big text-center icon-success">
                  <i class="icon-print"></i>
                </div>
              </div>
                <div class="numbers col-8">
                  <p>Print</p>
              </div>
            </div>
            </div>
            </div>
        </div>
        </div>

        <h1 class="page-title">Purchase Order
          </h1>
          <div class="row  mb-3">
          <div class="col-lg-3 col-sm-6">
            <div class="card">
            <div class="card-content">
            <div class="row">
              <div class="col-4">
                <div class="icon-big text-center icon-warning">
                  <i class="icon-plus-sign-alt"></i>
                </div>
              </div>
                <div class="numbers col-8">
                  <p>Create</p>
              </div>
            </div>
            </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card">
            <div class="card-content">
            <div class="row">
              <div class="col-4">
                <div class="icon-big text-center icon-success">
                  <i class="icon-print"></i>
                </div>
              </div>
                <div class="numbers col-8">
                  <p>Update</p>
              </div>
            </div>
            </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card">
            <div class="card-content">
            <div class="row">
              <div class="col-4">
                <div class="icon-big text-center icon-danger">
                  <i class="icon-print"></i>
                </div>
              </div>
                <div class="numbers col-8">
                  <p>Print</p>
              </div>
            </div>
            </div>
            </div>
        </div>
        </div>
        
        <h1 class="page-title">Good Receipt / Issue Note
          </h1>
          <div class="row ">
          <div class="col-lg-3 col-sm-6">
            <div class="card">
            <div class="card-content">
            <div class="row">
              <div class="col-4">
                <div class="icon-big text-center icon-warning">
                  <i class="icon-plus-sign-alt"></i>
                </div>
              </div>
                <div class="numbers col-8">
                  <p>GRN</p>
              </div>
            </div>
            </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card">
            <div class="card-content">
            <div class="row">
              <div class="col-4">
                <div class="icon-big text-center icon-success">
                  <i class="icon-print"></i>
                </div>
              </div>
                <div class="numbers col-8">
                  <p>Print GRN</p>
              </div>
            </div>
            </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card">
            <div class="card-content">
            <div class="row">
              <div class="col-4">
                <div class="icon-big text-center icon-danger">
                  <i class="icon-print"></i>
                </div>
              </div>
                <div class="numbers col-8">
                  <p>GIN</p>
              </div>
            </div>
            </div>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card">
            <div class="card-content">
            <div class="row">
              <div class="col-4">
                <div class="icon-big text-center icon-info">
                  <i class="icon-print"></i>
                </div>
              </div>
                <div class="numbers col-8">
                  <p>Print GIN</p>
              </div>
            </div>
            </div>
            </div>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>

     -->
  </section>
</div>





<!-- 
<section class="main-login">
  <div class="card">
    <div class="card-body">
      <div class="p-3">
        <div class="float-right text-right">
          <h4 class="font-18 mt-3 m-b-5">Welcome Back !</h4>
          <p class="text-muted">Sign in to continue to Foxia.</p>
        </div><a href="index.html" class="logo-admin">
          <img src="assets/images/logo_dark.png" height="26" alt="logo"></a>
        </div>
        <div class="p-3">
          <form class="form-horizontal m-t-10" action="index.html">
          <div class="form-group"><label for="username">Username</label>
             <input type="text" class="form-control" id="username" placeholder="Enter username">
            </div><div class="form-group">
              <label for="userpassword">Password</label> 
              <input type="password" class="form-control" id="userpassword" placeholder="Enter password">
            </div>
            <div class="form-group row m-t-30"><div class="col-sm-6">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customControlInline"> 
                <label class="custom-control-label" for="customControlInline">Remember me</label>
              </div>
            </div>
            <div class="col-sm-6 text-right">
              <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>
            </div>
            </div>
              <div class="form-group m-t-30 mb-0 row"><div class="col-12 text-center">
                <a href="pages-recoverpw.html" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a>
              </div>
            </div>
          </form>
        </div>
            </div>
          </div>
</section>-->