<h2 mat-dialog-title>Generate Purchase Order</h2>
<mat-dialog-content class="mat-typography">

  <section class="collapse-pane">
    <h3 class="mb-0"><strong>Supplier Details</strong></h3>

            <div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="start center">
                <mat-form-field  fxFlex="30" class="pr-12" appearance="outline">
                  <mat-label>Full Name</mat-label>
                  <mat-select placeholder="Select Vendor" (selectionChange)="onSelectVendor($event.value)">
                    <mat-option *ngFor="let vendor of vendorList" [value]="vendor">
                      {{vendor.VendorName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-icon-button (click)="showVendorDetail()" class="mt-8" *ngIf="vendorDetails.VendorName">
                  <mat-icon>remove_red_eye</mat-icon>                  
                </button>
            </div>

            <!--
            <div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="start center">
              <mat-form-field  fxFlex="20" class="pr-24" appearance="outline">
                  <mat-label>Supplier ID</mat-label>
                  <input type="text" placeholder="Supplier ID" matInput [(ngModel)]="vendorDetails.VendorId" name="supplierId" />
              </mat-form-field>
              <mat-form-field  fxFlex="20" class="pr-24" appearance="outline">
                  <mat-label>Email ID</mat-label>
                  <input type="text" placeholder="Email ID" matInput [(ngModel)]="vendorDetails.Email" name="emailId" />
              </mat-form-field>

              <mat-form-field  fxFlex="20" class="pr-24" appearance="outline">
                  <mat-label>Mobile No.</mat-label>
                  <input type="text" placeholder="Mobile No." matInput [(ngModel)]="vendorDetails.MobileNumber" name="MobileNumber" />
              </mat-form-field>

              <mat-form-field  fxFlex="20" class="pr-24" appearance="outline">
                  <mat-label>PAN</mat-label>
                  <input type="text" placeholder="PAN" matInput name="pan" [(ngModel)]="vendorDetails.PanNo" />
              </mat-form-field>              
              <mat-form-field  fxFlex="20" class="pr-24" appearance="outline">
                  <mat-label>Pincode</mat-label>
                  <input type="text" placeholder="Pincode" name="pincode" matInput  [(ngModel)]="vendorDetails.PinCode" />
              </mat-form-field>              
            </div>


            <div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="start center">
              <mat-form-field  fxFlex="40" class="pr-24" appearance="outline">
                  <mat-label>Address</mat-label>
                  <textarea placeholder="Address" matInput cols="2"  [(ngModel)]="vendorDetails.Address" name="Address"></textarea>
              </mat-form-field>

              <mat-form-field  fxFlex="20" class="pr-24" appearance="outline">
                  <mat-label>State</mat-label>

                  <mat-select placeholder="Select State" (selectionChange)="getCity($event.value)" [(ngModel)]="vendorDetails.StateId" name="state">
                    <mat-option *ngFor="let state of stateList" [value]="state.ID">
                      {{state.Name}}
                    </mat-option>
                  </mat-select>

              </mat-form-field>


              <mat-form-field  fxFlex="20" class="pr-24" appearance="outline">
                  <mat-label>City</mat-label>
                  <mat-select placeholder="Select City" name="city"  [(ngModel)]="vendorDetails.CityId">
                    <mat-option *ngFor="let city of cityList" [value]="city.ID">
                      {{city.Name}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field  fxFlex="20" class="pr-24" appearance="outline">
                  <mat-label>GSTIN</mat-label>
                  <input type="text" placeholder="GSTIN" matInput name="gst" [(ngModel)]="vendorDetails.GST" />
              </mat-form-field>

            </div>

          -->

  </section>


  <section class="collapse-pane">
    <h3 class="mb-0"><strong>Purchase Order Details</strong></h3>

      <div class="" [formGroup]="createOrderForm">

            <div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="start center">
              <mat-form-field  fxFlex="20" class="pr-24" appearance="outline">
                  <mat-label>PO Date</mat-label>

                    <input matInput [matDatepicker]="datePicker" placeholder="MM/DD/YYYY" formControlName="PODate">
                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field  fxFlex="10" class="pr-24" appearance="outline">
                  <mat-label>PO Number</mat-label>
                  <input type="text" placeholder="PO Number" matInput formControlName="PONumber"/>
              </mat-form-field>

              <mat-form-field  fxFlex="15" class="pr-24" appearance="outline">
                  <mat-label>Suppliers Ref. / Order No. </mat-label>
                  <input type="text" placeholder="Suppliers Ref. / Order No." matInput formControlName="SupplierRef"/>
              </mat-form-field>

              <mat-form-field  fxFlex="15" class="pr-24" appearance="outline">
                  <mat-label>Dipatch Through</mat-label>
                  <input type="text" placeholder="Dispatch Through" matInput formControlName="Despatchhrough"/>
              </mat-form-field>
              <mat-form-field  fxFlex="35" appearance="outline">
                  <mat-label>Terms of Delivery</mat-label>
                  <input type="text" placeholder="Terms of delivery" matInput formControlName="TermsofDelivery"/>
              </mat-form-field> 
            </div>
<!--             <div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="start center">
                           
            </div> -->
      </div>
  </section>

 <section>
  
              <mat-table class="products-table mat-elevation-z8 mb-48 pb-24"
                       #table [dataSource]="data.indentList"
                       fusePerfectScrollbar>

                <ng-container matColumnDef="serial">
                    <mat-header-cell *matHeaderCellDef [style.width.percentage]="10">S no.</mat-header-cell>
                    <mat-cell *matCellDef="let indent; let i = index" [style.width.percentage]="10">
                        <p class="text-truncate">{{i + 1}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef  [style.width.percentage]="10">PO Date</mat-header-cell>
                    <mat-cell *matCellDef="let indent" [style.width.percentage]="10">
                        <p class="text-truncate">{{moment(indent.CreateDate).format("MM/DD/YYYY")}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Material</mat-header-cell>
                    <mat-cell *matCellDef="let indent">
                       <p class="text-truncate">{{indent.ItemName}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="category">
                    <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
                    <mat-cell *matCellDef="let indent">
                       <p class="text-truncate">{{indent.CategoryName}}</p>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="number">
                    <mat-header-cell *matHeaderCellDef>Indent No.</mat-header-cell>
                    <mat-cell *matCellDef="let indent">
                       <p class="text-truncate">{{indent.IndentId}}</p>
                    </mat-cell>
                </ng-container>
<!-- 
                <ng-container matColumnDef="supplier">
                    <mat-header-cell *matHeaderCellDef>Supplier</mat-header-cell>
                    <mat-cell *matCellDef="let indent">
                        <p class="text-truncate">{{vendorDetails.VendorName}}</p>
                    </mat-cell>
                </ng-container>
 -->
                <ng-container matColumnDef="qty">
                    <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                    <mat-cell *matCellDef="let indent">
                      <input type="text" name="{{indent.IndentId}}" [(ngModel)]="indent.OrderQuantity" class="table_input" />
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="unit">
                    <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
                    <mat-cell *matCellDef="let indent">
                       <p class="text-truncate">{{indent.UOM}}</p>
                    </mat-cell>
                </ng-container>                

                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                    <mat-cell *matCellDef="let indent;let i = index">
                      <input type="text" name="{{indent.price}}" class="table_input" [(ngModel)]="indent.Price" (blur)="getPriceHistory(indent.RawMaterialId, i)" />
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="action" >
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let indent;let i = index">
                        <div fxFlex="row" fxLayoutAlign="end center">
                        <button mat-icon-button (click)="getPriceHistory(indent.RawMaterialId, i)">
                          <mat-icon>history</mat-icon>                  
                        </button>

                        <button mat-icon-button (click)="removeIndent(i)">
                          <mat-icon>delete</mat-icon>                  
                        </button>

                        </div>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let indent; columns: displayedColumns;let i = index"
                         class="product"
                         matRipple>
                </mat-row>

            </mat-table>
</section>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial color="accent" (click)="generateOrder()" [disabled]="createOrderForm.invalid">Generate</button>
</mat-dialog-actions>


<fuse-sidebar name="vendorDetailsAside" [folded]="isVendorDetailShown" position="right" class="width-400 p-12">
            <div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="start center">
              <mat-form-field  fxFlex="50" class="pr-24" appearance="outline">
                  <mat-label>Supplier ID</mat-label>
                  <input type="text" placeholder="Supplier ID" matInput [(ngModel)]="vendorDetails.VendorId" name="supplierId" />
              </mat-form-field>
              <mat-form-field  fxFlex="50" appearance="outline">
                  <mat-label>Email ID</mat-label>
                  <input type="text" placeholder="Email ID" matInput [(ngModel)]="vendorDetails.Email" name="emailId" />
              </mat-form-field>
            </div>
            <div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="start center">
              <mat-form-field  fxFlex="50" class="pr-24" appearance="outline">
                  <mat-label>Mobile No.</mat-label>
                  <input type="text" placeholder="Mobile No." matInput [(ngModel)]="vendorDetails.MobileNumber" name="MobileNumber" />
              </mat-form-field>

              <mat-form-field  fxFlex="50" appearance="outline">
                  <mat-label>PAN</mat-label>
                  <input type="text" placeholder="PAN" matInput name="pan" [(ngModel)]="vendorDetails.PanNo" />
              </mat-form-field>   
 
            </div>


            <div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="start center">
              <mat-form-field  fxFlex="50" class="pr-24" appearance="outline">
                  <mat-label>State</mat-label>

                  <mat-select placeholder="Select State" (selectionChange)="getCity($event.value)" [(ngModel)]="vendorDetails.StateId" name="state">
                    <mat-option *ngFor="let state of stateList" [value]="state.ID">
                      {{state.Name}}
                    </mat-option>
                  </mat-select>

              </mat-form-field>


              <mat-form-field  fxFlex="50"  appearance="outline">
                  <mat-label>GSTIN</mat-label>
                  <input type="text" placeholder="GSTIN" matInput name="gst" [(ngModel)]="vendorDetails.GST" />
              </mat-form-field>

            </div>

            <div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="start center">

              <mat-form-field  fxFlex="50" class="pr-24" appearance="outline">
                  <mat-label>City</mat-label>
                  <mat-select placeholder="Select City" name="city"  [(ngModel)]="vendorDetails.CityId">
                    <mat-option *ngFor="let city of cityList" [value]="city.ID">
                      {{city.Name}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field  fxFlex="50" appearance="outline">
                  <mat-label>Pincode</mat-label>
                  <input type="text" placeholder="Pincode" name="pincode" matInput  [(ngModel)]="vendorDetails.PinCode" />
              </mat-form-field>             
              </div>
            <div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="start center">

              <mat-form-field  fxFlex="100" appearance="outline">
                  <mat-label>Address</mat-label>
                  <textarea placeholder="Address" matInput cols="2"  [(ngModel)]="vendorDetails.Address" name="Address"></textarea>
              </mat-form-field>

</div>          

</fuse-sidebar>

<fuse-sidebar name="priceHistory" position="right" class="width-400 p-12">
    <h3 class="mb-0"><strong>Material History</strong></h3>
    <ul>
      <li>
      </li>
    </ul>
</fuse-sidebar>