.cdk-column-serial {
    max-width: 58px;
}

.cdk-column-selected {
    max-width: 58px;
}
.cdk-column-action {
    max-width: 85px;
}
.cdk-column-priority {
    max-width: 80px;
}   
.cdk-column-IndentDate {
    max-width: 110px;
}
.cdk-column-quantity {
    max-width: 160px;
}