<div class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
        <h2>Indent</h2>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
       <form class="example-form mat-card content p-24" [formGroup]="indentForm">
            <div class="h2 mb-12">Add Indent</div>


            <div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="start center">

                <mat-form-field  fxFlex="50" class="pr-24">
                    <mat-label>Date of Requirment</mat-label>
                    <input matInput [matDatepicker]="datePicker" placeholder="Date" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                </mat-form-field>
        
                <mat-form-field  fxFlex="50" class="pr-24">
                    <input type="text" placeholder="Material Name" matInput formControlName="rawMaterial" [matAutocomplete]="materialList">
                    <mat-autocomplete #materialList="matAutocomplete">
                        <mat-option *ngFor="let option of materialFilter | async" [value]="option.name">
                        {{option.name}}
                        </mat-option>
                    </mat-autocomplete>
                    <button mat-icon-button [disabled]="!indentForm.get('rawMaterial').value" matSuffix>
                    <mat-icon  (click)="addRawMaterial()">add_circle_outline</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field  fxFlex="50" class="pr-24">
                    <input type="text" placeholder="Category" matInput formControlName="category" [matAutocomplete]="categoryList">
                    <mat-autocomplete #categoryList="matAutocomplete">
                        <mat-option *ngFor="let option of categoryFilter | async" [value]="option.name">
                        {{option.name}}
                        </mat-option>
                    </mat-autocomplete>

                    <button mat-icon-button [disabled]="!indentForm.get('category').value" matSuffix>
                    <mat-icon  (click)="addCategory()">add_circle_outline</mat-icon>
                    </button>

                </mat-form-field>
            </div>

            <div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="start center">

                <mat-form-field   fxFlex="50" class="pr-24">
                        <input type="text" placeholder="Quantity" matInput formControlName="quantity">
                </mat-form-field>
                <mat-form-field   fxFlex="50" class="pr-24">
                    <input type="text" placeholder="Stock Unit" matInput formControlName="unit" [matAutocomplete]="unitList">
                    <mat-autocomplete #unitList="matAutocomplete">
                        <mat-option *ngFor="let option of unitFilter | async" [value]="option.name">
                        {{option.name}}
                        </mat-option>
                    </mat-autocomplete>

                    <button mat-icon-button [disabled]="!indentForm.get('unit').value" matSuffix>
                    <mat-icon  (click)="addUnit()">add_circle_outline</mat-icon>
                    </button>

                </mat-form-field>

                <mat-form-field   fxFlex="50" class="pr-24">
                        <input type="text" placeholder="HSN Code" matInput formControlName="hsnCode">
                </mat-form-field>
            </div>
                <div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="start center">

                <mat-form-field fxFlex="50" class="pr-24">
                        <input type="text" placeholder="StkUID" matInput formControlName="stkid" disabled />
                </mat-form-field>

                <mat-form-field fxFlex="50" class="pr-24">
                    <mat-select placeholder="GST %" formControlName="gst" name="gst">
                        <mat-option *ngFor="let gst of gstList" [value]="gst">
                        {{gst}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="50" class="pr-24">
                        <mat-select placeholder="Priority" formControlName="priority" name="priority">
                            <mat-option *ngFor="let item of priority" [value]="item">
                            {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-raised-button type="button" color="accent" (click)="addNewIndent()" [disabled]="!indentForm.valid">
                    Save
                </button>
            </div>

        </form>
        
    </div>
    <!-- / CONTENT -->

</div>
