/* You can add global styles to this file, and also import other style files */

footer, header, nav, section {
	display: block;
}
p {
	line-height: 27px;
	letter-spacing: 1px;
}
ol, ul {
	list-style: none;
	padding-left: 0px;
}
a , a:hover {
	text-decoration: none !important;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    margin-bottom: 5px;
	padding: 0px;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito Sans', sans-serif;
    background: #edf1f5;
}
.main-login .card {
    box-shadow: 1px 4px 45px 0 rgba(0,0,0,.1);
    background-color: #fff;
    margin: 5.5% auto;
    max-width: 460px;
    position: relative;
    padding: 20px;
    border-radius: 3px;
}

.left-sidebar {
    background: #fff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
    z-index: 1001;
    position: fixed;
    width: 240px;
    padding-top: 0px;
    height: 100%;
    -webkit-transition: 0.05s ease-in;
    -o-transition: 0.05s ease-in;
    transition: 0.05s ease-in;
}
.left-sidebar .logo > a {
    font-size: 20px;
    color: #000;
    padding: 15px 20px;
    display: block;
}
.navigation > ul > li > a {
    padding: 15px 25px 15px 25px;
    display: block;
    color: #54667a;
    border-left: 3px solid #fff;
    transition: .5s all ease;
}

.navigation > ul > li > a:hover {
    background: #edf1f5;
    border-color: #41b3f9;
}
.navigation > ul > li.active > a {
    background: transperant;
    color: #54667a;
    border-left: 3px solid #41b3f9;
    font-weight: 500;
}
.navigation > ul > li > a > i {
    margin-right: 10px;
    font-size: 18px;
}
.left-sidebar .logo > a {
    font-size: 20px;
    color: #000;
    padding: 15px 20px;
    display: block;
    border-bottom: 1px solid #f1f1f1;
    margin: 0 10px 15px;
    font-weight: 600;
}
.navigation > ul > li > a > .icon-angle-right {
    float: right;
    margin-right: 0px;
    text-align: right;
    margin-top: 4px;
    font-size: 16px;
}
.header-top {
    background: #2f323e;
    padding: 10px 15px;
}
.main-right-sidebar {
    width: 100%;
    margin-left: 240px;
}
.header-top .toggle .line-toggle {
    background: #c8c8c8;
    width: 20px;
    height: 1px;
    display: block;
    margin: 5px 0;
}
.search-box .form-control {
    height: 32px;
    font-size: 14px;
    border-radius: 90px;
    border: 0px;
    padding: 5px 10px 5px 20px;
}
.search-box .input-group-append .input-group-text {
    background: #fff;
    border-radius: 0 90px 90px 0;
    border: 0px;
    font-size: 13px;
}
.user-dropdown img {
    border-radius: 90px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.user-dropdown .profile-pic {
    color: #fff;
    font-weight: normal;
}
.header-top .toggle {
    display: inline-block;
    /* margin-top: 2px; */
    position: relative;
    top: 4px;
}
.header-bottom {
    background: #fff;
    padding: 20px;
}
.header-bottom ul li a {
    color: #000;
    font-weight: bold;
    font-size: 14px;
}
main.l-main .content-wrapper {
    padding: 25px;
    height: 100%;
}
.page-title {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
}
main.l-main .content-wrapper .page-content {
    border-top: 1px solid #d0d0d0;
    padding-top: 25px;
}
.card {
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    color: #252422;
    margin-bottom: 20px;
    position: relative;
}
.card .card-content {
    padding: 10px 17px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
}
.card .icon-big {
    font-size: 30px;
    border-right: 2px solid #f1f1f1;
    width: 65px;
    height: 65px;
    background: #f1f1f1;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 90px;
}
.icon-warning {
    color: #f3bb45;
}
.card .numbers {
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.card .numbers p {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 600;
}
.card .numbers .task {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}
.card .card-footer hr {
    margin-bottom: 15px;
    margin-top: 0;
}
.card .stats {
    color: #a49e93;
    font-weight: 300;
}
.content-wrapper {
    padding: 30px;
}
.icon-success {
    color: #7ac29a;
}
.icon-danger {
    color: #eb5e28;
}
.icon-info {
    color: #68b3c8;
}

/* option css start */
.select-style {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .select-style:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -1.5px;
    right: 15px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #acacac;
  }
  .select-style select {
    width: 100%;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 10px 0 13px;
    border: 1px solid #d8d7d7;
    height: 42px;
  }
/* option css end */
.form-control {
    box-shadow: none;
    border-radius: 2px;
    height: 42px;
    border: 1px solid #d8d7d7;
}
.white-box {
    background: #fff;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.08);
}
.btn-blue {
    background: #655be6;
    color: #fff;
    padding: 9px 25px;
}