<div class="" fxflex="1 0 auto" fxlayout="row" fxlayoutalign="space-around center">
  <div fxFlex="97"><h2 mat-dialog-title>History ({{data?.indentList[0]?.ItemName}})</h2></div>
  <div fxFlex="3">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>                  
  </button>    
  </div>

</div>
<mat-dialog-content class="mat-typography">

              <mat-table class="products-table mb-48 pb-24"
                       #table [dataSource]="data.indentList"
                       fusePerfectScrollbar>

                <ng-container matColumnDef="serial">
                    <mat-header-cell *matHeaderCellDef [style.width.percentage]="10">S no.</mat-header-cell>
                    <mat-cell *matCellDef="let indent; let i = index" [style.width.percentage]="10">
                        <p class="text-truncate">{{i + 1}}</p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef  [style.width.percentage]="10">PO Date</mat-header-cell>
                    <mat-cell *matCellDef="let indent" [style.width.percentage]="10">
                        <p class="text-truncate">{{moment(indent.CreateDate).format("MM/DD/YYYY")}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Material</mat-header-cell>
                    <mat-cell *matCellDef="let indent">
                       <p class="text-truncate">{{indent.ItemName}}</p>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="category">
                    <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
                    <mat-cell *matCellDef="let indent">
                       <p class="text-truncate">{{indent.CategoryName}}</p>
                    </mat-cell>
                </ng-container>


                <ng-container matColumnDef="number">
                    <mat-header-cell *matHeaderCellDef>Indent No.</mat-header-cell>
                    <mat-cell *matCellDef="let indent">
                       <p class="text-truncate">{{indent.IndentId}}</p>
                    </mat-cell>
                </ng-container>
<!-- 
                <ng-container matColumnDef="supplier">
                    <mat-header-cell *matHeaderCellDef>Supplier</mat-header-cell>
                    <mat-cell *matCellDef="let indent">
                        <p class="text-truncate">{{vendorDetails.VendorName}}</p>
                    </mat-cell>
                </ng-container>
 -->
                <ng-container matColumnDef="qty">
                    <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                    <mat-cell *matCellDef="let indent">
                        {{indent.Quantity}} {{indent.UOM}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="unit">
                    <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
                    <mat-cell *matCellDef="let indent">
                       <p class="text-truncate"></p>
                    </mat-cell>
                </ng-container>                
<!-- 
                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                    <mat-cell *matCellDef="let indent;let i = index">
                      {{indent.Price}}
                    </mat-cell>
                </ng-container>
 -->


                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let indent; columns: displayedColumns;let i = index"
                         class="product"
                         matRipple>
                </mat-row>

            </mat-table>
</mat-dialog-content>